 * {
      box-sizing: border-box;
    }

    .header {
      text-align: left;
      border-bottom: 1px solid #000
    }
  
    .row {
      display: flex;
      margin: 10px;
    }

    .col1 {
      flex: 40%;
      padding: 10px;
      height: 300px;
    }
  
    .col2 {
      flex: 60%;
      padding: 10px;
      height: 300px;
    }

    .review {
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
    }

    .reviewButton {
      border: none;
      color: blue;
      cursor: pointer;
    }

    .deleteButton {
      float: right;
    }